---
http_interactions:
- request:
    method: get
    uri: http://rss.cnn.com/rss/cnn_topstories.rss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Etag:
      - c1OPKgXsyhDhIzZopF78RY8/2sY
      Last-Modified:
      - Mon, 17 Apr 2017 03:48:38 GMT
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<?xml-stylesheet type=\"text/xsl\"
        media=\"screen\" href=\"/~d/styles/rss2full.xsl\"?><?xml-stylesheet type=\"text/css\"
        media=\"screen\" href=\"http://rss.cnn.com/~d/styles/itemcontent.css\"?><rss
        xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:content=\"http://purl.org/rss/1.0/modules/content/\"
        xmlns:atom=\"http://www.w3.org/2005/Atom\" xmlns:media=\"http://search.yahoo.com/mrss/\"
        xmlns:feedburner=\"http://rssnamespace.org/feedburner/ext/1.0\" version=\"2.0\"><channel><title><![CDATA[CNN.com
        - RSS Channel - HP Hero]]></title><description><![CDATA[CNN.com delivers up-to-the-minute
        news and information on the latest top stories, weather, entertainment, politics
        and more.]]></description><link>http://www.cnn.com/index.html</link><image><url>http://i2.cdn.turner.com/cnn/2015/images/09/24/cnn.digital.png</url><title>CNN.com
        - RSS Channel - HP Hero</title><link>http://www.cnn.com/index.html</link></image><generator>coredev-bumblebee</generator><lastBuildDate>Mon,
        17 Apr 2017 03:48:38 GMT</lastBuildDate><pubDate>Mon, 17 Apr 2017 03:41:32
        GMT</pubDate><copyright><![CDATA[Copyright (c) 2017 Turner Broadcasting System,
        Inc. All Rights Reserved.]]></copyright><language><![CDATA[en-US]]></language><ttl>10</ttl><atom10:link
        xmlns:atom10=\"http://www.w3.org/2005/Atom\" rel=\"self\" type=\"application/rss+xml\"
        href=\"http://rss.cnn.com/rss/cnn_topstories\" /><feedburner:info uri=\"rss/cnn_topstories\"
        /><atom10:link xmlns:atom10=\"http://www.w3.org/2005/Atom\" rel=\"hub\" href=\"http://pubsubhubbub.appspot.com/\"
        /><thespringbox:skin xmlns:thespringbox=\"http://www.thespringbox.com/dtds/thespringbox-1.0.dtd\">http://rss.cnn.com/rss/cnn_topstories?format=skin</thespringbox:skin><item><title><![CDATA[Vice
        President Mike Pence, on a tour of Asia, stops at fortified border between
        North and South Korea]]></title><description>US Vice President Mike Pence
        will visit the Korean Demilitarized Zone Monday, a day after the embarrassing
        failure of a North Korean missile test which the US and South Korea said exploded
        on launch.&lt;div class=\"feedflare\"&gt;\r\n&lt;a href=\"http://rss.cnn.com/~ff/rss/cnn_topstories?a=z67EVsHz81k:X1XoyjOpyak:yIl2[...]
